/GetMagicTest.class
/getMagicTest.class
/BallLinearMoveTest.class
/GetObstacleTest.class
/LoadTest.class
/LoadTest$1.class
/LoadTest$2.class
/MagicActionClassTest.class
/HexShootingMoveTest.class
/UpdateObstacleLocationTest.class
