/MagicalAbility.class
/ChanceGiving.class
/MagicalHex.class
/UnstoppableEnchantedSphere.class
/NoblePhantasm.class
/MagicFactory.class
/NoblePhantasmExpansion.class
/Activatable.class
/NoblePhantasmExpansion$1.class
/UnstoppableEnchantedSphere$1.class
/MagicalHex$1.class
/InfiniteVoid.class
/HollowPurple.class
/DoubleAccel.class
/MagicListener.class
